<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Graph-Based Route Finder</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <!------------ Form Section ------------>
        <div class="container my-5">
            <h1 class="text-center mb-4">Graph-Based Route Finder Web Application</h1>
            <form id="path-form">
                <!------------ Start Point ------------>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start-lat">Start Latitude</label>
                        <input type="text" class="form-control" id="start-lat" name="start-lat" placeholder="Enter start latitude" required pattern="-?\d{1,2}\.\d{1,6}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="start-lon">Start Longitude</label>
                        <input type="text" class="form-control" id="start-lon" name="start-lon" placeholder="Enter start longitude" required pattern="-?\d{1,3}\.\d{1,6}">
                    </div>
                </div>
                <!------------- End Point ------------->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="end-lat">End Latitude</label>
                        <input type="text" class="form-control" id="end-lat" name="end-lat" placeholder="Enter end latitude" required pattern="-?\d{1,2}\.\d{1,6}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="end-lon">End Longitude</label>
                        <input type="text" class="form-control" id="end-lon" name="end-lon" placeholder="Enter end longitude" required pattern="-?\d{1,3}\.\d{1,6}">
                    </div>
                </div>
                <!----------- Submit Button ----------->
                <button type="submit" class="btn btn-block btn-primary">Find Path</button>
            </form>
        </div>

        <!------------ Result Section ------------>
        <div id="result-container" class="container my-5" style="display:none;">
            <h1 class="text-center mb-4">Result</h1>
            <div id="result" class="mt-4"></div>
        </div>

        <!------------ Scripts Section ------------>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="/static/js/script.js"></script>

    </body>
</html>